body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #181818;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.left h1 {
    margin: 0;
    font-size: 24px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right span {
    color: #ffcc00;
    font-weight: bold;
}

.right a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.right a:hover {
    color: #ccc;
}

.right input[type="text"] {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.right input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#suggestions {
    width: 20%;
    height: 35%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #414040;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    overflow-y: auto;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #414040;
}

.suggestion:hover {
    background: #f0f0f0;
}

.welcome-message {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
}

.welcome-message h1 {
    font-size: 2.5em;
    margin-bottom: 1px;
}

.welcome-message p {
    font-size: 1.2em;
    color: #cccccc;
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.popular-movies-section {
    padding: 20px;
    text-align: left;
    h2 {
        color: white;
        border-bottom: 2px solid #555;
    }
}

.movie-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 90%;
    gap: 10px;
    scroll-behavior: smooth;
    padding: 15px 0;
}

.movie-item {
    min-width: 200px;
    transition: transform 0.3s;
    overflow: visible;
    position: relative;
}

.movie-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, border-radius 0.3s;
}

.movie-item img:hover {
    transform: scale(1.05);
    border-radius: 10px;
    z-index: 10;
}

.carousel-arrow {
    background: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    z-index: 10;
    transition: color 0.3s;
}

.carousel-arrow:hover {
    color: yellow;
    transform: scale(1.3);
}

.left-arrow {
    position: absolute;
    left: 20px;
}

.right-arrow {
    position: absolute;
    right: 20px;
}