body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #181818;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.left h1 {
    margin: 0;
    font-size: 24px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right span {
    color: #ffcc00;
    font-weight: bold;
    cursor: pointer;
}

.right a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.right a:hover {
    color: #ccc;
}

.right input[type="text"] {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.right input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 20;
    right: 0;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

#suggestions {
    width: 20%;
    height: 50%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #414040;
    border-radius: 5px;
    background: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    overflow: hidden;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #414040;
}

.suggestion:hover {
    background: #f0f0f0;
}

#bannerContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
}

#bannerContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
    z-index: 2;
}

/* Navigation Arrows */
.banner-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-arrow {
    color: yellow;
    background: black;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: all;
}

.nav-arrow:hover {
    transform: scale(1.3);
}

.banner-left {
    margin-left: 10px;
}

.banner-right {
    margin-right: 10px;
}

.movie-details {
    background: black;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    margin-top: -40vh;
    z-index: 3;
}

.movie-info {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-left: 0px;
    z-index: 4;
    h1 {
        font-size: 40px;
    }
}

#moviePosterContainer {
    width: 350px;
    height: 550px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

#moviePosterContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alternate-poster {
    max-width: 100%;
    border-radius: 10px;
}

.poster-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -5px;
    h3 {
        font-size: 16px;
        color: white;
    }
    .nav-arrow {
        color: yellow;
        background: transparent;
        border: none;
        padding: 5px 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav-arrow:hover {
        transform: scale(1.4);
    }
}

.directorName {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.directorName:hover {
    color: #56a4f8;
}

.movie-text {
    max-width: 600px;
    color: white;
}

.movie-text h2, .movie-text h3 {
    margin: 10px 0;
}

.movie-text p {
    line-height: 1.6;
}

.movie-cast ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.movie-cast li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tab-button {
    background: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.tab-button.active {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.tab-content.active {
    display: block;
    cursor: pointer;
}

.crew-grid {
    list-style: none;
    padding: 0;
}

.crew-grid li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    color: white;
}

.actor-name {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.actor-name:hover {
    color: #56a4f8;
}

.crew-name {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.crew-name:hover {
    color: #56a4f8;
}

.genre-name {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.genre-name:hover {
    color: #56a4f8;
}

.review-action-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.review-icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #555;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

#reviewedIcon i {
    color: #00ff00;
}

#likedIcon i {
    color: #ff4444;
}

#watchlistIcon i {
    color: #ff8800;
}

.rating-label {
    margin-top: 15px;
    font-size: 14px;
    color: #bbb;
    margin-bottom: -25px;
}

.rating-stars {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #555;
}

.rating-stars .rating-star i.bx,
.rating-stars .rating-star i.bxs-star,
.rating-stars .rating-star i.bxs-star-half {
    color: yellow;
}

.view-review-btn,
.edit-review-btn {
    display: block;
    background: transparent;
    color: #bbb;
    cursor: pointer;
    width: 100%;
    padding: 12px 0;
    margin: 5px 0;
    border-bottom: 2px solid #555;
    font-size: 14px;
    transition: color 0.3s ease;
}

.edit-review-btn {
    border-bottom: none;
    margin-bottom: -15px;
}

.view-review-btn {
    margin-top: -10px;
}

.reviewBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reviewBoxContainer {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    position: relative;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reviewBoxContainer h2 {
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}

.reviewBoxContainer input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.reviewBoxContainer p {
    font-size: 16px;
    margin-bottom: 10px;
    span {
        background: #555555;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    span:hover {
        color: yellow;
    }
}

.review-suggestions {
    display: none;
    position: absolute;
    background: #333;
    color: white;
    width: 80%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    z-index: 10;
}

.review-suggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.review-suggestions div:hover {
    background: #555;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.close:hover {
    color: yellow;
}

.reviewForm {
    display: none;
    background-color: #222;
    color: white;
    border-radius: 8px;
    width: 60%;
    max-height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.reviewFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2d3442;
}

.backBtn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
}

.backBtn:hover {
    color: yellow;
}

.reviewFormHeader h2 {
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: normal;
}

.reviewFormHeader .left {
    display: flex;
    align-items: center;
}

.reviewFormHeader .close {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.reviewFormHeader .close:hover {
    color: yellow;
}

.review-movie-details {
    display: flex;
    padding: 20px;
    gap: 20px;
    margin-right: -50px;
}

.review-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-right: -30vw;
}

.review-left-container img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    align-self: flex-start;
}

.review-left-container button {
    width: 150px;
    background: #444;
    color: white;
    text-align: center;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-start;
    margin-left: 25px;
}

.change-poster-btn:hover {
    background: yellow;
    color: black;
}

.review-movie-details > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-movie-details h2 {
    margin: 0;
    font-size: 24px;
    display: inline;
}

#reviewMovieYear {
    color: #aaa;
    margin-left: 10px;
    font-size: 22px;
    font-weight: normal;
}

.movie-title-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.watch-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    label {
        font-size: 15px;
    }
}

#watchedDate {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 3px 8px;
    margin: 0 15px 0 5px;
}

#reviewText {
    width: 87%;
    height: 150px;
    background-color: #e9ecf1;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    resize: none;
}

.tag-rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-top: 10px;
    gap: 10px;
}

.tags-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 50px;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.tag-label, .small-note {
    font-size: 14px;
    color: #aaa;
}

.small-note {
    font-size: 12px;
    color: #bbb;
    white-space: nowrap;
    margin-left: 30px;
    margin-bottom: 4px;
}

#reviewTags {
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: #e9ecf1;
    color: #333;
}

.rating-section, .like-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.rating-section {
    margin-left: 10px;
    margin-bottom: 15px;
}

.rating-section .rating-label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa;
}

.rating-container {
    display: flex;
    position: relative;
}

#reviewForm .rating-star i.highlighted,
#reviewForm .rating-star i.bxs-star.highlighted,
#reviewForm .rating-star i.bxs-star-half.highlighted {
    color: yellow;
}

#reviewForm .rating-star i.selected,
#reviewForm .rating-star i.bxs-star.selected,
#reviewForm .rating-star i.bxs-star-half.selected {
    color: yellow;
}

#reviewForm .rating-star i.bx-star,
#reviewForm .rating-star i.bxs-star,
#reviewForm .rating-star i.bxs-star-half {
    color: yellow;
    font-size: 25px;
    margin-bottom: 5px;
    transition: color 0.3s ease;
    cursor: pointer;
}


.like-section .like-label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa;
}

.like-btn i {
    font-size: 25px;
    margin-bottom: 5px;
    color: #aaa;
    transition: color 0.3s ease;
    cursor: pointer;
}

.like-btn:hover i {
    color: yellow;
}

.like-btn.liked i {
    color: yellow;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    width: 20%;
    align-self: flex-end;
    margin-right: 60px;
}

.poster-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.poster-modal-content {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    max-height: 80vh;
    overflow-y: auto;
    color: white;
    position: relative;
}

.poster-modal-content .poster-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
}

.poster-modal-content .poster-close:hover {
    color: yellow;
}

.poster-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.poster-grid img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.poster-grid img:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.5);
}

.poster-grid img.selected {
    border: 3px solid yellow;
}

.save-button {
    background: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover {
    background: limegreen;
}

.trailer-container {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.trailer-button {
    background: #ff0000;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.trailer-button i {
    font-size: 20px;
}

.trailer-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.trailer-modal-content {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-height: 90vh;
    overflow: hidden;
    color: white;
    position: relative;
}

.close-trailer {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.close-trailer:hover {
    color: yellow;
}
